@font-face {
  font-family: "InterBold";
  font-weight: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Inter-Bold.ttf");
  font-display: fallback;
}
@font-face {
  font-family: "InterMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Inter-Medium.ttf");
  font-display: fallback;
}
@font-face {
  font-family: "InterRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Inter-Regular.ttf");
  font-display: fallback;
}
@font-face {
  font-family: "InterLight";
  font-weight: normal;
  font-style: normal;
  src: url("../public/assets/fonts/Inter-Light.ttf");
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.07em;
}

/**? permanental   */
body {
  //background: #dfffff;
  background: #eceef2;
  transition: background 0.5s;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
sup {
  font-size: 12px;
}

/*? */

/********************HEADER*********************/

h2.title {
  margin-top: 30px;
  letter-spacing: 0;
  text-align: center;
  font-family: "InterBold";
  font-size: 48px;
  color: #000;
}

h2.title::after {
  display: block;
  content: "";
  width: 180px;
  height: 3px;
  background: #ff3146;
  margin: 15px auto;
}
span.red {
  color: #ff3146;
}
p.subtitle {
  margin-top: 0;
  letter-spacing: 0;
  text-align: center;
  font-family: "InterLight";
  font-size: 20px;
  color: #5f5f5f;
}
p.subtitle a {
  color: #ff3146;
  text-decoration: underline;
}
.diagram {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 40px auto;
  position: relative;
  ul {
    position: absolute;
    top: -30px;
    right: 0;
    display: flex;

    li {
      opacity: 0.6;
      margin: 5px;
      padding: 5px;
      cursor: pointer;
      background: #d9d9d9;
      border-radius: 5px;
      img {
        width: 24px;
      }
      &#active-diagram {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 1025px) {
  h2.title {
    font-size: 40px;
  }
  h2.title::after {
    margin: 10px auto;
  }
  p.subtitle {
    font-size: 16px;
  }
}

/***********************CardsMenu*******************/

.cards-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  p {
    padding: 10px 55px;
    margin: 0 30px;
    background: #eaeaea;
    color: #000;
    font-family: "InterBold";
    font-size: 16px;

    border-radius: 10px;
    cursor: pointer;

    transition: 0.3s;
  }
  p:hover {
    background: #fff;
  }
}

@media (max-width: 901px) {
  .cards-menu p {
    margin: 0 10px;
  }
}
@media (max-width: 769px) {
  body {
    background: #fff;
  }

  h2.title {
    margin-top: 30px;
  }
  .cards-menu {
    margin-top: 30px;
  }
}

@keyframes move-up {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

/******************ARTICLE*&*FOOTER*&*CITYSELECTOR**********************/
.select {
  margin-top: 20px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectCity {
  margin: 10px 0;
  background: #d9d9d9;
  padding: 15px 40px;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  font-family: "InterMedium";
  font-size: 20px;
  outline: none;
  border: none;
  text-align: center;
  &::placeholder {
    color: #000;
  }
}

.selectCity:hover {
  background: #eaeaea;
}
article {
  transition: background 0.5s;
  margin: 0 auto;
  width: 100%;
  padding: 50px 70px 150px;
  background: #fff;
  p {
    text-align: justify;
    max-width: 1000px;
    margin: 40px auto 0;
    font-family: "InterRegular";
    font-size: 16px;
    color: #5f5f5f;
    line-height: 150%;
    span.red {
      font-family: "InterBold";
      font-size: 40px;
    }
    a {
      color: #ff3146;
    }
  }
}

.calendar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 100px 30px;
  background: #fff;

  display: flex;
  flex-direction: column;
  h4 {
    text-align: center;
    font-size: 36px;
    font-family: "InterBold";
    color: #000;
  }
  .month-container {
    width: 100%;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 4%;
    row-gap: 3%;

    .month-item {
      padding: 15px 20px;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      border-radius: 20px;
      /* cursor ??? mb flip)*/
      cursor: pointer;
      /**/
      p {
        color: #000;
        font-family: "InterBold";
        letter-spacing: 0.07em;
        font-size: 20px;
        margin-top: 10px;
      }

      img {
        width: 32px;
      }
      &:hover {
        background: #eaeaea;
      }
      &.weekend {
        p {
          color: #ff3146;
        }
      }
    }
    #first {
      grid-column: 3;
    }
    #today {
      background: #eaeaea;
    }
  }
}
.error-container {
  transition: 0.3s;
  width: 100%;
  background: #fff;
  padding: 250px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-family: "InterBold";
      font-size: 128px;
      padding: 30px;
      color: #000;
      text-align: center;
      position: relative;
      &::before,
      &::after {
        content: "404";
        color: #000;
        position: absolute;
        top: 0;
        overflow: hidden;
        padding: 30px;
      }
      &::before {
        left: 5px;
        text-shadow: -5px 0 #ff5062;
        animation: glitch-before 2s linear 0s infinite alternate;
      }
      &::after {
        left: -5px;
        text-shadow: -5px 0 #70f3ff;
        animation: glitch-after 2s linear 0s infinite alternate;
      }
    }
    p {
      font-family: "InterRegular";
      text-align: center;

      font-size: 20px;
      color: #5f5f5f;
    }
  }
}
@keyframes glitch-before {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * calc(1 / $steps))} {
      clip: rect(random(180) + px, 350px, random(180) + px, 30px);
    }
  }
}
@keyframes glitch-after {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * calc(1 / $steps))} {
      clip: rect(random(180) + px, 350px, random(180) + px, 30px);
    }
  }
}
@media (max-width: 1025px) {
  .calendar {
    padding: 20px 50px 50px;
  }
}
@media (max-width: 910px) {
  .calendar {
    .month-container {
      .month-item {
        p {
          font-size: 18px;
        }
        img {
          width: 28px;
        }
      }
    }
  }
}
@media (max-width: 769px) {
  .calendar {
    padding: 30px;
    h4 {
      font-size: 30px;
    }
    .month-container {
      column-gap: 10px;
      row-gap: 10px;
      .month-item {
        padding: 10px 15px;
        p {
          font-size: 16px;
        }
        img {
          width: 24px;
        }
      }
    }
  }
  .error-container {
    .error-content {
      h2 {
        font-size: 96px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 625px) {
  .calendar {
    margin: 0 auto;
    padding: 20px;
    .month-container {
      .month-item {
        border-radius: 10px;
        padding: 8px 10px;
        p {
          font-size: 14px;
        }
        img {
          width: 20px;
        }
      }
    }
  }
}
@media (max-width: 451px) {
  .calendar {
    padding: 10px;
    border-radius: 0;
    h4 {
      font-size: 24px;
    }
    .month-container {
      margin: 20px auto 0;
      column-gap: 5px;
      .month-item {
        padding: 5px 7px;
      }
    }
  }
  .error-container {
    padding: 150px 30px;
    .error-content {
      h2 {
        font-size: 64px;
        &::before {
          left: 3px;
        }
        &::after {
          left: -3px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
}
footer {
  width: 100%;
  padding: 70px 30px;
  background: #ff3146;
  h3,
  p {
    color: #fff;
    text-align: center;
  }
  h3 {
    font-family: "InterBold";
    font-size: 18px;
  }
  p {
    margin-top: 10px;
    font-family: "InterRegular";
    font-size: 14px;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      li {
        padding: 5px 20px;
        a {
          font-family: "InterRegular";
          font-size: 14px;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  footer {
    padding: 50px 30px;

    p {
      font-size: 16px;
    }
    nav ul {
      flex-wrap: wrap;
      justify-content: center;
      li a {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 426px) {
  footer p {
    font-size: 14px;
  }
}
.cardContainer {
  max-width: 1600px;
  margin: 20px auto 40px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*******************MOBILE MODE********************/

@media (max-width: 769px) {
  h2.title {
    font-size: 32px;
  }
  p.subtitle {
    font-size: 14px;
  }
  article {
    p {
      font-size: 14px;
      span.red {
        font-size: 32px;
      }
    }
  }

  .cards-menu p {
    -webkit-tap-highlight-color: transparent;
    padding: 8px 35px;
    font-size: 14px;
    border: 2px solid #d9d9d9;
  }
  .selectCity {
    padding: 10px 20px;
    font-size: 18px;
  }
}

@media (max-width: 476px) {
  .cards-menu p {
    padding: 8px 20px;
    margin: 0 5px;
  }
  article {
    padding: 30px 40px 100px;
    margin: 0 auto;
  }
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
/*******                 *PSEUDO SHORT FORM CLASS*               **********************/

@media (max-width: 800px) {
  .cardContainer {
    padding: 0 10px;
  }
}
// @media (max-width: 769px) {
//   .card.short {
//     max-width: 200px;
//     height: 250px;
//     margin: 30px 5px 0;
//   }
//   .card.short h4 {
//     font-size: 24px;
//   }
//   .card.short .content .date p {
//     font-size: 16px;
//   }
//   .card .content .temp img {
//     width: 36px;
//   }
//   .card.short .content {
//     padding: 80px 0 0 0;
//   }
//   .card.short .content .date::after {
//     height: 2px;
//   }
//   .card.short.flipped {
//     padding: 20px;
//   }
//   .short.flipped .content {
//     padding: 0 0 3px;
//   }
//   .short.flipped .content .date h4 {
//     font-size: 24px;
//   }
//   .short.flipped .content .date p {
//     font-size: 14px;
//   }
//   .short.flipped .content .phase img {
//     width: 28px;
//   }
//   .short.flipped table tr.tableRow th {
//     font-size: 12px;
//   }
//   .short.flipped table tr td {
//     font-size: 12px;
//   }
//   .short.flipped table {
//     border-spacing: 0 4px;
//   }
// }

/******************DARK MODE***************/
.dark {
  background: #20232a;
  transition: background 0.5s;
  p {
    color: #a9a9a9;
  }
  article {
    background: #20232a;
    transition: background 0.5s;
  }

  footer {
    //background: rgb(202, 8, 47);
    background: #0088cc;
  }

  .error-container {
    background: #20232a;
    transition: 0.3s;
    .error-content {
      h2 {
        transition: 0.3s;
        color: #fff;
        &::before,
        &::after {
          color: #fff;
        }
        &::before {
          text-shadow: -5px 0 #ff3146;
        }
        &::after {
          text-shadow: -5px 0 #1ac6ff;
        }
      }
      p {
        transition: 0.3s;
        color: #a9a9a9;
      }
    }
  }
  footer p {
    color: #fff;
  }
  h2.title {
    color: #fff;
  }
  p.subtitle a {
    color: #12a8bd;
  }
  h2.title::after {
    background: #12a8bd;
  }
  span.red {
    color: #12a8bd;
  }
  .cards-menu p {
    background: #20232a;
    border: none;
    color: #fff;
  }
  .cards-menu p:hover {
    background: #282c34;
  }
  .cards-menu p.choosed {
    background: #282c34;
    color: #fff;
    border: none;
  }
  .selectCity {
    background: #282c34;
    color: #fff;
    transition: 0.3s;
  }
  .selectCity:hover {
    cursor: pointer;
    background: #3f4552;
  }
  .diagram {
    ul li {
      background: #282c34;
    }
  }
  .calendar {
    background: #20232a;
    h4 {
      color: #fff;
    }
    .month-container {
      .month-item {
        background: transparent;

        p {
          color: #a9a9a9;
        }
        &:hover {
          background: #282c34;
        }
      }
      .month-item.weekend p {
        color: #ff3146;
      }
      #today {
        background: #282c34;
      }
    }
  }
}
